@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poiret+One&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poiret+One&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


img {
    max-width: 200px;
    height: auto;
    border-radius: 5%;
    outline-offset: 0px;
    outline: 0.5px solid rgb(0, 0, 0);
}

.pokemonContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
    /* background-color: rgb(196, 189, 189); */
    background: linear-gradient(50deg, rgb(196, 189, 189), rgb(51, 36, 61));
    padding: 1rem;
    box-shadow: 10px 5px 5px rgb(13, 11, 11);
    outline-offset: 0px;
    outline: 0.5px solid rgb(0, 0, 0);
    border-radius: 18px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    position: relative;
    overflow: hidden;

}

.pokemonContainer:hover {
    animation: none;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.8), 0 0 40px rgba(0, 255, 255, 0.6);
    border: 3px solid white;
    transform: scale(1.05) translateY(-5px);
}

/*
.rgb::after {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff9a00,
            #d0de21,
            #4fdc4a,
            #3fdad8,
            #2fc9e2,
            #1c7fee,
            #5f15f2,
            #ba0cf8,
            #fb07d9,
            #ff0000) repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -3px;
} */

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    row-gap: -50px;
    column-gap: 30px;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: rgb(32, 32, 31);
    padding: 0px 40px;
}

.pokemonName,
.pokemonGraded,
.pokemonRarity,
.pokemonGraphics,
.pokemonPrice {
    color: rgb(0, 0, 0);
    font-family: "Fira Sans", serif;
    font-size: large
}

.pokemonName {
    margin-top: 10px;
    font-family: "Archivo Black", serif;
    font-size: 20px;
}

.add-to-cart {
    cursor: pointer;
    gap: 50px;
    font-family: "Fira Sans", serif;
    width: 125px;
    height: 40px;
    color: white;
    background-color: rgb(27, 25, 25);
    border-radius: 15px;
    font-size: 15px;
    border: none;
    outline: none;
}